<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/index.css" />
    <link
      rel="shortcut icon"
      href="https://reasonml.github.io/img/icon_50.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"
    />
    <style data-emotion="css" data-s></style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
